<div class="table-responsive">
    <table class="table">
        <caption>Private repositories</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Backup Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let repository of repositories">
            <tr>
                <td>{{ repository.name }}</td>
                <td>{{ repository.lastBackupDate ?? '-' }}</td>
                <td>
                    <button class="btn btn-primary" (click)="backup(repository.id)">Backup</button>
                    <button *ngIf="repository.lastBackupDate"
                            class="btn btn-outline-primary"
                            (click)="restore(repository.id)">
                        Restore
                    </button>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
